.recruitment-section {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: center;
}

.recruitment-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.poster img {
  width: 100%;
  max-width: 700px;
  border-radius: 8px;
}

.recruitment-info {
  margin-left: 2rem;
}

.recruitment-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.recruitment-info p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.recruitment-info ul {
  list-style-type: disc;
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: left;
}

.recruitment-info ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.register-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #0056b3;
}
