*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

 main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    background: #ffffff;
}

.container{
    top: 40px;
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #000000;
    border-radius: 50%;
    right: 10%;
}

.container .icon{
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .icon .imgBx{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 90%;
    transition: 0.5s;
    border: 1px solid #000000;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px #000000;
    transform: rotate(calc(360deg/15*var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
}

.container .icon .imgBx.active{
    box-shadow: 0 0 0 6px #222, 0 0 0 12px #ff1d50;
}

.container .icon .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/15*var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
}

.container .icon .imgBx.active img{
    filter: grayscale(0);
}

.content{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::after{
    content: '';
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #ff1d50;
    border-right: 4px solid #000000;
    border-radius: 50%;
    animation: animate_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_02{
    0%{
        rotate: 360deg;
    }
    100%{
        rotate: 0deg;
    }
}

.contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.contentBx .card .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.contentBx .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx .card .textBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBx .card .textBx h2{
    position: relative;
    margin-top: 1rem;
    font-size: 1.30em;
    font-weight: 600;
    color: #000000;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.contentBx .card .textBx h2 span{
    font-size: 0.65em;
    color: #000000;
    font-weight: 550;
    letter-spacing: 0.1em;
}

.contentBx .card .textBx .sci{
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
}

.contentBx .card .textBx .sci li{
    list-style: none;
}

.contentBx .card .textBx .sci li a{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.contentBx .card .textBx .sci li a:hover{
    background: #2196f3;
}

.team{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    position: relative;
    
}

@media screen and (max-width:985px){
    main{
        min-height: 100vh;
        flex-direction: column;
    }
    .container {
        width: 0px;
        right: 90%;
        border-radius: 0%;
        height: auto; 
    }
    .container .icon {
        display:block;
    }
    .content, .contentBx {
        /* display: block;  */
        text-align: center; 
    }
    .team {
        position: relative;
        bottom: 22rem;
        font-size: 30px; 
    }
    .container .icon .imgBx{  /* main image */
        width: 37px;
        height: 37px;
        transform: rotate(calc(360deg/15*var(--i)));
        transform-origin: 170px;
        position: absolute;
        left: 8.7rem;
        top: 8.7rem;
    }

    .contentBx .card .imgBx{ /*  hovered image */
        position: relative;
        /* left: 10rem;
        top: 8rem; */
        width: 70px;
        height: 70px;
        border-radius: 10px;
        overflow: hidden;
    }
    .container{
        /* top: 40px; */
        position: relative;
        width: 310px;
        height: 310px;
        border: 2px solid #000000;
        border-radius: 50%;
        left: 0.5rem;
        top: 7rem;
    }
    .content::after{
        content: '';
        position: absolute;
        inset: 70px;
        border: 4px solid transparent;
        border-left: 4px solid #ff1d50;
        border-right: 4px solid #000000;
        border-radius: 50%;
        animation: animate_02 2.5s linear infinite;
        z-index: 1;
        pointer-events: none;
    }
    .contentBx .card .textBx h2{
        position: relative;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: #000000;
        line-height: 1em;
        text-transform: uppercase;
        text-align: center;
    }
}