.container-fluid{
    color: #768390;
    background: #FFF;
    font-family: "Effra", Helvetica, sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    width: 50%;
    margin: auto;
}

h1,h3, h4, h5, h6 {
    color: #3D4351;
    margin-top: 0;
}

a {
    color: #FF6B6B;
}

a:hover {
    color: #F5B2B2;
    text-decoration: none;
}

.timeline-title a{
    color: #3D4351;
    text-decoration: none;
}

.container-fluid .row {
    margin-top: 150px;
    padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
    background: #F1F4F5;
}

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    line-height: inherit;
}

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out,border 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
}

.timeline-content {
    padding-bottom: 40px;
}

.timeline-content p:last-child {
    margin-bottom: 0;
}

.period {
    padding: 0;
}

.period .timeline-info {
    display: none;
}

.period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}

.period .timeline-content {
    padding: 40px 0 70px;
}

.period .timeline-title {
    margin: 0;
}

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }
        .timeline-item {
            display: table-row;
            padding: 0;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding-left: 30px;
        }
        .timeline-info {
            padding-right: 30px;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}


.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}
